<div class="card border border-secondary rounded">
    <div class="media">
        <img class="mr-3" src="{{ author.avatar }}" alt="{{author.display_name}}" style="width: 64px; height: 64px">
        <div class="media-body">
          <h4 class="mt-0">{{ author.display_name }}</h4>
          {{ author.about }}
          <div id="social-author"> 
              {% if author.facebook %}<a href="{{ author.facebook }}" ><i class="fa fa-facebook-official" aria-hidden="true"></i></a>{% endif %}
              {% if author.twitter %}<a href="{{ author.twitter }}" ><i class="fa fa-twitter-square" aria-hidden="true"></i></a>{% endif %}
              {% if author.github %}<a href="{{ author.github }}" ><i class="fa fa-github-square" aria-hidden="true"></i></a>{% endif %}
              {% if author.email %}<a href="{{ author.email }}" ><i class="fa fa-envelope" aria-hidden="true"></i></a>{% endif %}
        </div>
        </div>
      </div>
    
</div>