{% assign second_now = "now" | date: "%s" %}
{% assign second_offset = second_now | minus: include.second_then %} 
{% assign day_offset = second_offset | divided_by: 86400 %} 
{% assign month_offset = day_offset | divided_by: 30 %}
{% assign year_offset = day_offset | divided_by: 365 %}
{% assign month_offset = month_offset | modulo: 12 %}
{% assign day_offset = day_offset | modulo: 365 | modulo: 30 %}
{% if day_offset==0 and month_offset==0 and year_offset==0 %} Hôm nay {% else %}
    {% if year_offset != 0 %}{{ year_offset }} năm {% endif %}
    {% if month_offset != 0 %}{{ month_offset }} tháng {% endif %}
    {% if day_offset != 0 %}{{ day_offset }} ngày {% endif %}
    trước
{% endif %}