---
layout: base
---

{% include header.html type="page" %}

<div class="container" role="main">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      {{ content }}
	    {% if page.comments %}
        <div class="disqus-comments">
	        {% include disqus.html %}
        </div>
	        {% include fb-comment.html %}
	    {% endif %}
    </div>
  </div>
</div>
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5b77ff6cf28c7ef5"></script>
